<%= render 'shared/errors', obj: @article %>

<div class="row">
	<div class="col-xs-12">
		<%= form_for @article do |f| %>
			<div class="form-group">
				<%= f.label :title %><br>
				<%= f.text_field :title, placeholder: "Title of article", class: "form-control", autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :description %><br>
				<%= f.text_area :description, rows: 10, placeholder: "Body of article", class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.submit class: "btn btn-primary" %>
			</div>
		<% end %>

		[ <%= link_to 'Cancel request and return to articles listing', articles_path %> ]
	</div>
</div>
